.checkoutContainer {
  width: 250px;
  padding: 16px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat";
  position: absolute;
  right: 10px;
  z-index: 1000;

  @media (max-width: 768px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
  }
}

.list {
  flex: 1;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  text-align: left;
}

.listItemMeta {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (max-width: 768px) {
    align-items: start;
  }
}

.actions {
  display: flex;
  align-items: center;
}

.quantity {
  background-color: #2a59fe;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  margin: 0 8px;
}

.price {
  color: #2a59fe;
}

button {
  background: none;
  border: 1px solid #2a59fe;
  color: #2a59fe;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Montserrat";

  &:hover {
    background-color: #2a59fe;
    color: #fff;
  }
}

.totalContainer {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.totalText {
  font-size: 16px;
  font-weight: 700;
  color: #2a59fe;
  padding-top: 6px;
}

.checkoutButton {
  background-color: #2a59fe;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";

  &:hover {
    background-color: #1e46d7;
  }
}
